---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"vars",
		"grid",
		"base",
		"syntax-highlighting"
;

body {
	font-family: $base-font-family;
	font-weight: $font-weight-normal;
	margin-top: 20px;
	color: $default-text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	font-weight: $font-weight-light;
}

a {
	color: $default-link-color;
	text-decoration: none;
}

a:hover {
	color: #666;
}

// NAVIGATION AND LOGO

header {
	margin-bottom: 40px;
}

nav {
	font-family: $header-font;
	font-weight: $font-weight-light;
}

nav h1 {
	float: left;
	margin: 0;
}

nav ul {
	font-size: 38px;
	line-height: 40px;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
}

nav ul li a.current {
	color: $default-text-color;
	border-bottom: 3px solid $default-link-color;
}
