---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"vars",
		"grid",
		"base"
;

::selection {
	background: $default-link-color;
}
::-moz-selection {
	background: $default-link-color;
}

a::selection {
	color: white;
}

a::-moz-selection {
	color: white;
}

body {
	font-family: $base-font-family;
	font-weight: $font-weight-normal;
	margin-top: 20px;
	color: $default-text-color;
	font-size: $default-font-size;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	font-weight: $font-weight-light;
}

h2, h3, h4, h5, h6 {
	color: #666;
}

a {
	color: $default-link-color;
	text-decoration: none;
}

a:hover {
	color: #666;
}

p {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: $default-font-size;
	line-height: 30px;
}

pre {
	padding: 10px;
	margin: 0 0 30px 0;
	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// NAVIGATION AND LOGO

header {
	margin-bottom: 40px;
}

nav {
	font-family: $header-font;
	font-weight: $font-weight-light;
}

nav h1 {
	float: left;
	margin: 0;
}

nav ul {
	font-size: 38px;
	line-height: 40px;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	margin: 0 30px 0 0;
	padding: 0;
}

nav ul li a.current {
	color: $default-text-color;
	border-bottom: 3px solid $default-link-color;
}

.slicknav_menu {
	display: none;
}

@media screen and (max-width: 390px) {
	/* #main-nav is the original menu */
	.js #main-nav {
		display: none;
	}
	
	.js .slicknav_menu {
		display: block;
	}
}

// HOME PAGE
.contact-list {
	list-style: none;
	margin-left: 0;
}

.me {
	width: 200px;
	height: 200px;
	background-image: url('/assets/images/me-porch.jpg');
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	float: right;
}

// BLOG PAGE
.blog-list {
	list-style: none;
	margin-left: 0;
}

.blog-list li {
	margin: 0 0 25px 0;
	line-height: 25px;
}

.blog-list li span {
	font-family: $header-font;
	font-size: 20px;
}

code {
	background-color: #eee;
	font-family: Consolas, Courier New, monospace;
	font-size: $code-font-size;
}

// Quote page
.submitted-message {
	font-weight: $font-weight-bold;
	font-style: italic;
}

// Exit Intent
#exit-raq {
	text-align: center;
}

#hsForm_4dcc6883-acb5-40cc-9787-33a3e3101a48 {
	.hs_recaptcha {
		display: inline-block;
		margin: 20px 0 20px 0;
	}

	.hs-form-field {

		label {
			display: none;
		}

		input {
			width: 250px;
			border-radius: 5px;
			border: 1px solid #CCC;
			font-size: 20px;
			padding: 5px;
		}

		.error::-webkit-input-placeholder {
			color: white;
		}
		.error::-moz-placeholder {
			color: white;
		}
		.error:-ms-input-placeholder {
			color: white;
		}
	}

	.hs-button {
		background: #BDA151;
		color: #fff;
		border: 0;
		font-size: 18px;
		padding: 10px;
		border-radius: 4px;
		text-transform: uppercase;
	}

	.hs-button:hover {
		background-color: #666;
	}

	.hs-error-msgs {
		display: block;
		list-style: none;
		margin: 0;
		color: #bf4e4e;

		li {
			margin: 5px 0 0 0;
		}
	}
}


/***********************************************
Mobile (portrait 300px)
***********************************************/
@media only screen and (max-width:767px) {
	.me {
		width: 100px;
		height: 100px;
	}
}

/***********************************************
Mobile (landscape 420px)
***********************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.me {
		width: 150px;
		height: 150px;
	}
}
