<script type="text/javascript" src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/js/exit-intent.js"></script>

<!-- Exit Intent overlay -->
<section id="exit-raq" style="display: none;">
		<h3>Get A Free Quote</h4>
		<p>I&rsquo;d love to start a conversation and learn more about your development or digital marketing needs. So enter your email below, and let&rsquo;s get started!</p>
		<div class="exit-raq-wrap">
			<script type="text/javascript">
			$(function() {
				hbspt.forms.create({ 
					portalId: '899539',
					formId: '4dcc6883-acb5-40cc-9787-33a3e3101a48',
					target: '.exit-raq-wrap',
					css: '',
					onFormSubmit: function($form) {
						ga('set', 'dimension2', (new Date()).getTime().toString());
						ga('send', 'pageview', '/exit-intent/raq-submitted');
					}
				});
			});
			</script>
		</div>
</section>
<!-- END Exit Intent overlay  -->

<!-- Start of HubSpot Code -->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/899539.js"></script>
<!-- End of HubSpot Tracking Code -->

<!-- Event Tracking -->
<script type="text/javascript">

$(function() {
	// initialize fancybox
	$('.fancybox').fancybox();

	// Any fancybox opens
	$('.fancybox').click(function() {
		var url = $(this).attr("data-kdtrac-src").replace(/^#/, '');
		ga('send', 'pageview', url);
	});

	// Initialize Exit Intent Popup
	KDExitIntent.init({
		onExitIntent: function() {
			$.fancybox.open(
				{
					href : '#exit-raq'
				},
				{
					maxWidth: 550,
					afterShow: function() {
						ga('send', 'pageview', '/exit-intent-fancybox');
					}
				}
			);
		}
	});

	// track external links
	$('a').click(function(){
		var url = $(this).attr('href');
		var txt = $(this).text();
		if (url.indexOf("kevin-deleon.com") === -1 && url !== "#") {
			ga('send', 'event', {
				eventCategory: 'Outbound Link',
				eventAction:  'click',
				eventLabel: url + ' - ' + txt,
				transport: 'beacon'
			});
		}
	});
});

// track nav links
var linkClicked = false;

$('ul.navigation li a').click(function(e) {
	e.preventDefault(); 
	setTimeout(clickLink, 500);
	linkClicked = false;
	var url = $(this).attr('href');
	var txt = $(this).text();

	trackNav('main-nav-click', url, txt);
});

function clickLink(url) {
	if (!linkClicked) {
		linkClicked = true;
		document.location = url;
	}
}

function trackNav(act, url, txt) {
	ga('send', 'event', {
		eventCategory: 'Navigation',
		eventAction:  act,
		eventLabel: url + ' - ' + txt,
		transport: 'beacon',
		hitCallback: function() {
			clickLink(url);
		}
	});
}

</script>