<header>
	<div class="row">
		<h1 class="grid_2">{ k }</h1>
		<nav class="grid_10 nav-wrap">
			<ul id="main-nav" class="navigation hide-mobile">
				<li><a class="{% if page.url == '/index.html' %}current{% endif %}" href="/">about</a></li>
				<li><a class="{% if page.url contains '/resume' %}current{% endif %}" href="/resume/">resume</a></li>
				<li><a class="{% if page.url contains '/free-quote' %}current{% endif %}" href="/free-quote/">free quote</a></li>
				<li><a class="{% if page.url contains '/blog' %}current{% endif %}" href="/blog/">blog</a></li>
			</ul>
		</nav>
	</div>
</header>
