<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="wFDda6kKzU6YCYbcmwzo-Y1X9nu4xE5qgl9daLtaatY" />

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="/assets/js/fancybox/jquery.fancybox.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<!-- KD Scripts -->
	<script type="text/javascript" src="/assets/js/kd-utils.js"></script>
	
	<!-- jQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
	<!-- gist embed -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.1/gist-embed.min.js"></script>
	
	<!-- TypeKit -->
	<script src="//use.typekit.net/ymz0ugk.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	{% if page.is_post %}
	<!-- Share This -->
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "e80ff1be-e34f-444d-aa32-a93a55138266", doNotHash: true, doNotCopy: true, hashAddressBar: false, popup: true, servicePopup: true});</script>
	{% endif %}

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		var utm_params, key, referrer, utm, uuid, _ref, gacookie; 
		
		function uuid() { 
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { 
				var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8); 
				return v.toString(16); 
			}); 
		}

		if (!KDUtils.readCookie("user_id")) { 
			KDUtils.createCookie("user_id", uuid(), 180); 
		}

		if (!KDUtils.readCookie("utm_params")) {
			utm = {
				utm_campaign: "-",
				utm_content: "-",
				utm_medium: "-",
				utm_source: "direct",
				utm_term: "-"
			};

			if (document.location.search.indexOf('utm_source=') > -1 || document.location.search.indexOf('utm_medium=') >-1 || document.location.search.indexOf('utm_campaign=') >-1){
				locationString = KDUtils.parseURL(document.location);
				for (key in utm) {
				if (typeof locationString.searchObject[key] !== "undefined") {
					utm[key] = locationString.searchObject[key];
					}
				}
			}
			else {
				referrer = KDUtils.parseURL(document.referrer);
				_ref = ['google', 'bing', 'yahoo'];
				for (_i = 0, _len = _ref.length; _i < _len; _i++) {
					searchengine = _ref[_i];
					if (referrer.hostname.indexOf("." + searchengine + ".") !== -1) {
						utm.utm_source = searchengine;
						utm.utm_medium = "organic";
						break;
					}
				}
				if (utm.utm_medium !== "organic") {
					if (document.referrer.length > 0)
						utm.utm_campaign = document.referrer;
					else
						utm.utm_campaign = "-";
				}
			}

			utm_params = [];
			for (key in utm) {
				val = utm[key]
				utm_params.push(encodeURIComponent(key) + '=' + encodeURIComponent(val))
			}

			utm_params = utm_params.join('&');
			KDUtils.createCookie("utm_params", utm_params, 180);
		}

		ga('create', 'UA-6938485-5', 'auto', {'allowLinker': true, 'siteSpeedSampleRate': 100});
		ga('require', 'displayfeatures');
		ga('require', 'linker');
		ga('set', 'dimension1', KDUtils.readCookie("user_id"));
		ga('set', 'dimension2', (new Date()).getTime().toString());
		ga('send', 'pageview');

		// Get a  Google Analytics cookie id value to pass on hubspot form submission (gAnalyticsCookieID hidden field)
		ga(function(t) { 
			gacookie = t.get('clientId'); 
		});

		// Google Anayltics Error Handling
		window.onerror = function(message, url, linenumber, colnumber) {  
			var ga = window.ga || function(){  };
			ga('send', 'event', 'JS Error', message, navigator.userAgent + ' -> ' + url + " @ line: " + linenumber + ", col: " + colnumber, {  'nonInteraction': 1});
			return false; 
		}
	</script>
</head>
