---
layout: default
---
<article class="post row">
	<div class="grid_12">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				Posted: {{ page.date | date: "%b %-d, %Y" }}
			</time>
			<br>
			<span class='st_twitter' displayText='Tweet'></span>
			<span class='st_reddit' displayText='Reddit'></span>
			<span class='st_linkedin' displayText='LinkedIn'></span>
			<span class='st_facebook' displayText='Facebook'></span>
			<span class='st_googleplus' displayText='Google +'></span>
			<span class='st_email' displayText='Email'></span>
		</p>
		<div class="post-content" itemprop="articleBody">
			{{ content }}
		</div>
	<div>
</article>

{% if page.comments %}
<section class="row">
	<div class="grid_12">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'kevindeleon';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
</section>
{% endif %}